.grid-layout-meldezeitraumgenerator>.ui-panelgrid.ui-widget-content {
	border: none;
}

.grid-layout-meldezeitraumgenerator * {
	border: none;
}

.grid-layout-meldezeitraumgenerator .ui-g div {
	padding: 0px;
	margin-bottom: 5px;
}

.grid-layout-meldezeitraumgenerator .ui-g div:nth-child(1) {
	width: 170px;
	
}

.grid-layout-meldezeitraumgenerator .ui-g div:nth-child(2) {
	width: 250px;
}

.grid-layout-meldezeitraumgenerator .ui-g div:nth-child(3) {
	width: 120px;
}

.grid-layout-meldezeitraumgenerator .ui-g div:nth-child(4)  {
	
}

.meldezeitraum-detail {
	margin: 20px 0px;
}

.meldezeitraum-detail .ui-spinner-input {
	width: 200px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.meldezeitraum-detail h4{
	margin: 5px 0px;
}

input, select {
	width: 200px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.grid-layout-meldezeitraumgenerator .ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    background: #fff;
    -moz-box-shadow: inset 0 0px 0px #8f8f8f;
    -webkit-box-shadow: inset 0 0px 0px #8f8f8f;
    box-shadow: inset 0 0px 0px #8f8f8f; 

}

.arrow{
	width:24px; 
	margin-left: 10px;
}

.rotate180{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}



/*
.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
	background: #00691f;
	border: none;
	border-radius: 0px;
}
.ui-selectonemenu .ui-selectonemenu-trigger {
	background: #00691f;
	border: none;
	border-radius: 0px;
	color: #fff;
}
*/