body{
	padding: 0;
	margin: 0;
}
h1{
	padding: 0;
	margin: 0;
}
#header{
	padding: 10px;
	background: #ccc;
}
#navigation{
	padding: 10px;
	margin: 0;
	background: #eee;
}
#content{
	padding: 10px;
	background: #fff;
}
#footer{
	padding: 10px;
	background: #fff;
}



