body {
	padding: 0;
	margin: 0;
}

h1 {
	padding: 0;
	margin: 0;
}

#header {
	padding: 10px;
	background: #ccc;
}

#navigation {
	padding: 10px;
	margin: 0;
	background: #eee;
}

#content {
	padding: 10px;
	background: #fff;
}

#footer {
	padding: 10px;
	background: #fff;
}

.errorMessage {
	color: #ff0000;
}

.column-width td:nth-child(1) {
	width: 10rem;
}

.panel-grid.ui-panelgrid>*>tr, .panel-grid.ui-panelgrid .ui-panelgrid-cell
	{
	border: none;
}

.data-table .ui-datatable-tablewrapper {
	overflow: hidden;
}

.data-table th.ui-state-default {
	background: linear-gradient(180deg, rgba(18, 5, 235, 1) 0%,
		rgba(1, 1, 230, 1) 20%, rgba(0, 121, 255, 1) 100%);
	border: none;
	color: #fff;
	text-align: left;
}

#---------------------------------------------------------------------

.grid-layout .ui-widget-content{
	border: none;	
}

.grid-layout {
	width: 100%;	
}

@media ( min-width: 1001px ) { 
	.grid-layout .ui-g div:nth-child(1) {
	width: 15%;
}

.grid-layout .ui-g div:nth-child(2) {
	width: 85%;
}
}

@media screen and (max-width: 1000px) {
.grid-layout .ui-g div:nth-child(1) {
	width: 20%;
}

.grid-layout .ui-g div:nth-child(2) {
	width: 80%;
}
}
@media screen and (max-width: 900px) {
.grid-layout .ui-g div:nth-child(1) {
	width: 30%;
}

.grid-layout .ui-g div:nth-child(2) {
	width: 70%;
}
}
@media screen and (max-width: 600px) {
  .grid-layout .ui-g div:nth-child(1) {
	width: 50%;
}

.grid-layout .ui-g div:nth-child(2) {
	width: 50%;
}
}

#---------------------------------------------------------------------

.grid-layout-px .ui-widget-content{
	border: none;	
}

.grid-layout-px {
	width: 100%;	
}

@media ( min-width: 1001px ) { 
	.grid-layout-px .ui-g div:nth-child(1) {
	width: 300px;
}

.grid-layout-px .ui-g div:nth-child(2) {
	
}
}

@media screen and (max-width: 1000px) {
.grid-layout-px .ui-g div:nth-child(1) {
	width: 250px;
}

.grid-layout-px .ui-g div:nth-child(2) {
	
}
}
@media screen and (max-width: 900px) {
.grid-layout-px .ui-g div:nth-child(1) {
	width: 200px;
}

.grid-layout-px .ui-g div:nth-child(2) {
	
}
}
@media screen and (max-width: 600px) {
  .grid-layout-px .ui-g div:nth-child(1) {
	width: 150px;
}

.grid-layout-px .ui-g div:nth-child(2) {
	
}
}







